<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <% include ../../layouts/stylesheet %>
</head>
<body>
    <% include ../../layouts/navbar %>
    
    <div class="container-fluid">
        <div class="row content">
            <!-- left -->
            <% include sections/leftSidenav %>
            <!-- right -->
            <% include sections/rightSidenav %>

            <!-- modal tao group chat moi -->
            <% include modals/createGroupChat %>
            <!-- modal danh sách thành viên group -->
            <% include modals/memberOfGroup %>
            <!-- modal profile -->
            <% include modals/editProfile %>
        </div>
    </div>

    <input type="hidden" name="currentUserId" id="currentUserId" value="<%= user._id %>">
    <input type="hidden" name="currentUserName" id="currentUserName" value="<%= user.info.firstname %> <%= user.info.lastname %>">

    <% if (messagesWelcome) {%>
        <input type="hidden" name="messages" id="messages" value="<%= messagesWelcome %>">
    <% } else if (messagesChangepassword) { %>
        <input type="hidden" name="messages" id="messages" value="<%= messagesChangepassword %>">
    <% } else if (messageEditProfile) { %>
        <input type="hidden" name="messages" id="messages" value="<%= messageEditProfile %>">
    <% } %>

    <% include ../../layouts/script %>
</body>
    <script>
        var messages = $('#messages').val();
        if (messages) {
            alertify.success(messages);
        }
    </script>
</html>
